.search_tags dl{margin:10px 0;position:relative}.search_tags dl dt{color:#333;position:absolute;font-weight:400}.search_tags dl dd{margin:0 0 0 40px;overflow:hidden}.search_tags dl dd ul.list_all li{float:left;margin:2px 10px 15px 10px;white-space:nowrap;width:auto;height:auto;font-size:14px;}.search_tags dl dd ul.list_all li a{color:#666;padding:2px 5px;position:relative}.search_tags dl dd ul.list_all li .active{background:#f90;border-radius:3px}.search_tags dl dd ul.list_all li .active span{border:5px solid #f90;border-left-color:transparent;border-right-color:transparent;border-bottom-color:transparent;font-size:0;line-height:0;height:0;width:0;display:inline-block;position:absolute;bottom:-10px;left:50%;margin-left:-5px}.search_tags dl dd .sub_all{border:1px solid #e1e1e1;margin-left:14px;padding:8px 10px;margin-bottom:15px}.search_tags dl dd .sub_all a{display:inline-block;margin:0 10px}.search_tags dl dd .sub_all a:hover{color:#f90}.search_tags dl dd .sub_all .active{color:#f90;background:0 0;padding:0}.search_tags dl dd .active{color:#f90}.search_tags dl dd ul.list_all li a.active,.search_tags dl dd ul.list_all li a:hover{color:#f90}.search_tags dl dd ul.list_all li .active:link,.search_tags dl dd ul.list_all li .active:visited{color:#fff}.search_tags dl dd .level,.search_tags dl dd .order{float:left;color:#666;font-size:14px;margin:0 10px 10px}.search_tags dl dd .level:hover,.search_tags dl dd .order:hover{color:#f90}
li, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.filter_search {
    height: 47px;
    line-height: 47px;
    background: #fff;
}
.filter_search .filter_left {
    height: 47px;
    line-height: 47px;
    float: left;
}
.filter_search .filter_left span.default {
    padding: 0 15px;
}
.filter_search .filter_left .current {
    color: #ef2b00;
}
.filter_search .filter_left a, .course_content .filter_search .filter_left span {
    float: left;
    position: relative;
}
.filter_search .filter_left em {
    width: 1px;
    height: 100%;
    background: #f4f4f4;
    float: left;
}
em, i {
    font-style: normal;
}
.filter_search .filter_left a, .filter_search .filter_left span {
    float: left;
    position: relative;
}
.filter_search .filter_left a {
    height: 47px;
    color: #666;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    padding: 0 5px;
}
.filter_search .filter_left .update {
    background: 0 0;
}
.filter_search .filter_left .filtercheck {
    background: 0 0;
    display: inline-block;
}
.filter_search .filter_left em.checkboxs {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #dbdbdb;
    background: #fff;
    text-align: center;
    float: left;
    margin-top: 17px;
    margin-right: 5px;
}
.filter_search .filter_left em.checkboxs i {
    display: none;
    line-height: 16px;
    margin-left: -8px;
    font-size: 30px;
    color: #ef2b00;
}
.filter_search .filter_right {
    height: 47px;
    line-height: 47px;
    float: right;
    color: #666;
    font-size: 14px;
    margin-right: 10px;
}
.filter_search .filter_left span.arrows {
    display: inline-block;
    height: 47px;
    line-height: 7px;
    width: 20px;
    text-align: center;
    float: right;
    padding-top: 17px;
    padding-left: 5px;
}
.filter_search .filter_left span.arrows i {
    font-size: 14px;
    float: left;
}